
* {
  all: unset;
  font-family: "JetBrains Mono Nerd Font", monospace;
  font-size: 12px;
}

/* import modules */
@import "modules/hud.scss";
@import "modules/scales.scss";
@import "modules/controls.scss";


