* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "FiraCode Nerd Font", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(25, 25, 25, 0.361);  /* transparent glass base */
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    margin: 6px 10px;
    transition: all 0.3s ease;
}

#workspaces button {
    background-color: transparent;
    color: #d8dee9;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #d8dee9;
}

#workspaces button.active {
    background-color:  transparent;
    color: #89b4fa;
}

#workspaces button.urgent {
    background-color: #ebcb8b;
}

.modules-left > widget:first-child > * {
    margin-left: 10px;
}

.modules-right > widget:last-child > * {
    margin-right: 10px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#wireplumber,
#tray,
#hyprland-window,
#mpris, 
#bluetooth {
    padding: 0 10px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

#battery.charging, #battery.plugged {
    color: #a3be8c; 
}

#battery.critical:not(.charging) {
    background-color: #bf616a;
    color: #d8dee9;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #4c566a;
    }
}

#cpu {
    color: #81a1c1;
}

#memory {
    color: #b48ead;
}

#temperature.critical {
    background-color: #bf616a;
}

#network {
    color: #88c0d0;
}

#wireplumber {
    color: #a3be8c;
}

#mpris {
    color: #d8dee9;
}

#mpris.playing {
    color: #a3be8c; 
}

#mpris.paused {
    color: #ebcb8b; 
}

#custom-power {
    background-color: transparent;
    color: #2e3440;
    font-size: 16px;
}

tooltip {
    background: #2e3440;
    border: 1px solid #4c566a;
    border-radius: 4px;
}

tooltip label {
    color: #d8dee9;
}

#mpris,
#mpris-info,
#custom-prev,
#custom-next {
    padding: 0 10px;
    background-color: transparent;
    color: #d8dee9; 
}

#mpris.playing,
#mpris.paused {
    color: #a3be8c; 
}
